body {
    font-family: 'Pokemon Solid', sans-serif;
    background-image: url('background.jpg'); /* Fond Pokémon stylisé */
    background-size: cover;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
}

#team-container, #pokemon-list {
    margin: 20px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.pokemon-card img {
    width: 150px;
    height: 150px;
}

.pokemon-card:hover {
    background-color: rgba(255, 255, 255, 1);
}

.team {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.team img {
    width: 80px;
    height: 80px;
}

.start-game {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #ffcb05;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.start-game:enabled {
    opacity: 1;
    background-color: #f00;
}
